
extends layout

block content
  .max-w-3xl.mx-auto.bg-gray-800.p-10.rounded-xl.shadow-2xl.text-center
    h1.text-4xl.font-extrabold.mb-4.text-green-500 Welcome to Workout Insight
    p.text-gray-300.mb-8.text-lg Manage user registrations and track subscription details.
    
    .flex.space-x-4.justify-center
      a(href="/registration-form" class="px-6 py-3 bg-green-500 hover:bg-green-600 rounded-lg text-gray-900 font-bold transition duration-300 transform hover:scale-105 shadow-md") Register
      a(href="/contacts" class="px-6 py-3 border-2 border-green-500 hover:border-green-400 rounded-lg text-green-300 font-bold transition duration-300 transform hover:bg-gray-700") View Contacts